<?xml version="1.0"?>
<model>
  <name>Distorted Camera K</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
   <name>KlaasKelchtermans</name>
   <email>klaas.kelchtermans@esat.kuleuven.be</email>
  </author>

  <description>
    My distorted camera for simulating the front camera of a drone.
  </description>
</model>